doctype html
html( lang="ko" )
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul
                    li 
                        a(href="/") Home
                        //- pug는 express의 locals에 접속할 수 있으므로 req.session.loggedIn 대신 다음의 코드를 사용한다.
                    if loggedIn 
                        li 
                            a(href="/logout") LogOut    
                        li
                            a(href="/my-profile") #{loggedInUser.name}의 Profile   
                    else
                        li 
                            a(href="/login") Login 
                        li 
                            a(href="/join") Join
                    li       
                        a(href="/search") Search Video
                    li
                        a(href="/videos/upload") Upload Video 
        main
            block content
    include partials/footer.pug       